@using Microsoft.Extensions.Localization
@using ITVComponents.WebCoreToolkit.Net.TelerikUi.COB.Areas.Identity
@using ITVComponents.WebCoreToolkit.Net.TelerikUi.Options
@using Microsoft.Extensions.Options
@inject IStringLocalizer<IdentityMessages> localizer
@inject IOptions<ViewOptions> viewOptions
@{
    Layout = viewOptions.Value.LayoutPage;
}

<h2>@localizer["Manage your account"]</h2>

<div>
    <h4>@localizer["Change your account settings"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
