@page
@using Microsoft.Extensions.Localization
@using ITVComponents.WebCoreToolkit.Extensions
@using ITVComponents.WebCoreToolkit.Localization.Model
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ITVComponents.WebCoreToolkit.Net.TelerikUi.COB.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@inject IStringLocalizer<IdentityMessages> localizer
@{
    ViewData["Title"] = localizer["Reset password confirmation"];
    var link2Login = localizer.FromJson<PrePostValLocalizationBlock>("PassReset_Link2Login");
}

<h1>@ViewData["Title"]</h1>
<p>
    @link2Login.Pre<a asp-page="./Login">@link2Login.TagTx</a>@link2Login.Post
</p>
