@using System.Collections
@using System.Text
@using System.Web
@using ITVComponents.EFRepo.DynamicData
@using ITVComponents.Plugins.PluginServices
@using ITVComponents.WebCoreToolkit.EntityFramework.Models
@using ITVComponents.WebCoreToolkit.EntityFramework.TenantSecurityShared.Models
@using ITVComponents.WebCoreToolkit.EntityFramework.TenantSecurityShared.TemplateHandling
@using ITVComponents.WebCoreToolkit.EntityFramework.TenantSecurityShared.ViewComponents
@using ITVComponents.WebCoreToolkit.Routing
@using Microsoft.AspNetCore.Routing
@using Microsoft.Extensions.Localization
@inject ITemplateHandlerFactory factory
@model ITVComponents.WebCoreToolkit.EntityFramework.TenantSecurityShared.Models.TemplateModule

<div>
    @foreach (var component in Model.Configurators)
    {
        var dc = new Dictionary<string, string>(from t in component.ViewComponentParameters select new KeyValuePair<string, string>(t.ParameterName, t.ParameterValue));
        @(await factory.RenderHandlerComponent(Component, component.ConfiguratorTypeFront, dc))
    }
</div>