@using ITVComponents.WebCoreToolkit.Net.Extensions
@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata
@using System.Text.Encodings.Web
@using System.Collections
@using ITVComponents.WebCoreToolkit.Extensions
@using ITVComponents.WebCoreToolkit.Net.TelerikUi.Resources
@using ITVComponents.WebCoreToolkit.Net.TelerikUi.Extensions
@using ITVComponents.WebCoreToolkit.Net.TelerikUi.TenantSecurityViews.ViewModel
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Http
@using TextsAndMessagesHelper = ITVComponents.WebCoreToolkit.Net.TelerikUi.TenantSecurityViews.Resources.TextsAndMessagesHelper
@{
    var tmp = Html.Kendo().Grid<PermissionViewModel>().Name($"PermissionsFor{ViewData["tenantId"]}_{ViewData["roleId"]}")
        //.HtmlAttributes(new { style = "width:50vw;" })
        .Columns(columns =>
        {
            if (ViewData["tenantId"] != null && ViewData["roleId"] != null)
            {
                columns.Bound(n => n.IsGlobal).ClientTemplate($"<span class=\"glyphSprite fad #=IsGlobal?'fa-globe':'fa-ball-pile'#\"></span>").Title(" ").Width(50);
            }
            columns.Bound(c => c.PermissionName).Filterable(true).Title(TextsAndMessagesHelper.IWCN_General_Name);
            columns.Bound(c => c.Description).Title(TextsAndMessagesHelper.IWCN_General_Description);
            if (ViewData["tenantId"] != null && ViewData["roleId"] != null)
            {
                columns.InlineCheckbox(e => e.Assigned, "UniQUID", readOnly: !Context.RequestServices.VerifyUserPermissions(new[] {"Permissions.Assign"})).Title(TextsAndMessagesHelper.IWCN_P_STDV_Assigned).Width(150);
            }
            else
            {
                if (Context.RequestServices.VerifyUserPermissions(new[] {"Permissions.Write"}))
                {
                    columns.Command(ga =>
                    {
                        ga.Edit().Visible("ITVenture.Pages.Security.TenantBoundObjectsHelper.isEditable");
                        ga.PopupConfirmDelete().Visible("ITVenture.Pages.Security.TenantBoundObjectsHelper.isEditable");
                    }).Width(180);
                }
            }

        })
        .ToolBar(toolbar =>
        {
            toolbar.RefreshTable();
            if (ViewData["roleId"] == null && Context.RequestServices.VerifyUserPermissions(new[] {"Permissions.Write"}))
            {
                toolbar.Create();
            }
        })
        .DataSource(dataSource =>
        {
            var tmp = dataSource
                .Ajax()
                .Read(read => read.Action("Read", "Permission", new {tenantId = ViewData["tenantId"], roleId = ViewData["roleId"]}));
            if (Context.RequestServices.VerifyUserPermissions(new[] {"Permissions.Write","Permissions.Assign"}))
            {
                tmp.Create(create => create.Action("Create", "Permission", new {tenantId = ViewData["tenantId"]}))
                    .Update(update => update.Action("Update", "Permission"))
                    .Destroy(destroy => destroy.Action("Destroy", "Permission"));
            }

            tmp.Model(m => m.Id(t => t.PermissionId))
                .Sort(n => n.Add(m => m.PermissionName));
        })
        //.Scrollable(s => s.Height("auto"))
        .Pageable(p => p.Input(false).Numeric(true).Info(true).PreviousNext(true).PageSizes(true))
        .Sortable(c => c.Enabled(true))
        .Filterable(f => f.Enabled(true))
        .Resizable(c => c.Columns(true));
    if ((bool)ViewData["renderDetails"])
    {
        tmp.ClientDetailTemplateId("PermissionDetails");
    }
}
@tmp